.titulo {
  font-size: 16px;
  color: rgb(112, 123, 129);
  font-weight: bold;
}

.texto {
  font-size: 15px;
  font-weight: unset;
  color: rgb(112, 123, 129);
}

.container-conteudos {
  border-radius: 10px;
  background-color: white;
  padding: 15px;
}

.container-sem-itens {
  height: 100px;
  border: 1px solid rgb(214, 214, 214);
  border-top: none;
  background-color: #F8F8F8;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  position: relative;
  line-height: 100px;
}