* {
    box-sizing: border-box;
}

#div-chart-bar {
    width: 50%;
    display: inline-block;
}

#div-line-chart {
    width: 45%;
    display: inline-block;
}

#bar-chart-home {
    padding: 20px;
}

#line-chart-home {
    padding: 20px;
}

#lista-de-pedidos {
    position: relative;
    height: 88%;
    overflow: auto;
}

.home-charts-container {
    height: 400px;
    width: 85%;
}

.title-charts {
    color: rgb(102, 102, 102);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
}

.home-content-container {
    width: 92%;
    height: 100%;
    margin: 0 auto;
    padding-top: 10px;
}

.list-pedidos-container {
    height: 42%;
    min-height: 350px;
    width: 100%;
    margin: 0px auto;
    background-color: white;
    border-radius: 15px;
    position: relative;
}

.list-pedidos-content {
    display: inline-block;
    padding-top: 15px;
    margin: 0px auto;
    width: 210px;
    max-width: 210px;
    margin-right: 5px;
}

.div-teste {
    position: relative;
}

.home-card {
    background-color: white; 
    height: 56%;
    width: 49.5%;
    padding: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 15px;
    position: relative;
}

.home-card-loader {
    width: 100%;
    height: 95%;
    position: relative;
}

.lbl-card {
    font-size: 130%;
    font-weight: bold;
    color: rgb(112, 123, 129);
    position: relative;
}

.sem-pedidos-recentes {
    color: black;
    font-size: 130%;
    padding: 6.5%;
    text-align: center;
}