#card-pedido {
  width: 100%;
}

.div-card-header {
  height: 110px; 
  line-height: 110px;
  text-align: center;
}

.div-card-header-pendente {
  background-color: #FF8C00;
}

.div-card-header-preparando {
  background-color: blue;
}

.div-card-header-concluido {
  background-color: green;
}

.div-card-header-cancelado {
  background-color: red;
}

.span-card-header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
}