.container {
    height: 100%;
    width: 100%;
    background: url("../../images/home_background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    overflow: hidden;
}

.content {
    height: 100%;
    width: 100%;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    position: absolute;
    overflow: hidden;
}