#btn-adicionar-nova-categoria {
  width: 120px;
  height: 56px;
  float: right;
  position: relative;
  right: 10px;
  background-color: rgb(183, 28, 28);
  color: white;
}

#adicionar-categoria-container {
  margin-top: 10px;
}

.div-subcategorias {
  display: inline-block;
  margin-left: 25px;
}