.container-configuracoes {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    overflow: auto;
    padding-top: 10px;
}

.container-conteudo {
    width: 90%;
    margin: 0px auto;
    padding-top: 10px;
}

.titulo-configuracao {
    color: rgb(112, 123, 129);
    position: relative;
    font-size: 16px;
}

.conteudo-config {
    padding: 15px;
    border-radius: 10px !important;
    background-color: white;
    margin-top: 10px;
}

.titulo-conteudo-cofig {
    color: rgb(112, 123, 129);
    font-size: 15px;
}

.div-conteudo-config {
    padding: 5px;
    color: #282828;
}

.container-form-config {
    width: 33%;
    display: inline-block;
}

.input-forms-config {
    width: 80%;
}